* {
    margin: 0;
    box-sizing: border-box;
}

.homeWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    min-height: 100vh;
    /* background-image: url(./images/images-1.jpg); */
    background-color: mediumturquoise;
}
header {
    color: rgb(143, 152, 155);
    font-family: Futura; 
    font-size: 80px;
    text-align: center;
    padding: 10% 3% 10% 3%;
    font-weight: 1000;
}
.linkWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.homeLink {
    text-decoration: none;
    color: rgb(143, 152, 155);
    border-radius: 12px;
    margin: 4% 40% 4% 40%;
    background-color: rgba(255, 255, 255, 0);
}
.people, .chores, .assign{
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    align-items: center;
}
.people {
    background-image: url('./images/jared.jpg');
}
.chores {
    background-image: url('./images/phill.jpg');
}
.assign {
    background-image: url('./images/chazz.jpeg');
}
.peopleInputsWrapper,
.choresInputsWrapper,
.assignedWrapper {
    display: flex;
    flex-direction: column;
    background-color: mediumturquoise;
    background-size: cover;
    padding-top: 5%;
}

.peopleWrapper,
.choreWrapper {
    font-family: Futura;
    display: flex;
    flex-direction: column;
    margin: 3%;
    /* background-image: url(./images/download-3.jpg); */
}

.peopleTitle,
.choreTitle {
    font-family: Futura;
    text-align: center;
    font-size: 50px;
    margin: 0 2% 5% 2%;
    /* background-image: url(./images/download-3.jpg); */
}

.choreDescription {
    margin: 3% 0 3% 0;
}

.inputForm,
.editForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    font-family: Futura;
}

input {
    margin: 3% 0 3% 0;
    padding: 3%;
    font-family: Futura;
    font-size: 16px;
}

h2 {
    font-family: Futura-Bold;
}

img {
    margin-right: 5%;
}

.crop {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.crop img {
    width: auto;
    height: 100px;
    margin: 0 0 0 -25px;
}

.submitButton {
    width: 40%;
    margin: auto;
    font-family: Futura;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
}

.finishPeople,
.finishChores {
    text-decoration: none;
    color: black;
    margin: 5% 0 8% 5%;
    font-size: 20px;
    border: 1px solid rgb(79, 172, 212);
    border-radius: 5px;
    width: 20%;
    padding: 1%;
    /* background-color: rgba(79, 172, 212); */
    text-align: center;
    /* background-image: url(./images/download-3.jpg); */
    font-family: Futura;
}

.onePersonWrapper,
.oneChoreWrapper {
    border: 1px solid black;
    margin: 2%;
    padding: 4%;
    position: relative;
    background-color: white;
}

.choreTitleDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.onePersonWrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}

.personNameAgeDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editButton {
    margin-top: 8%;
    width: 50px;
    font-family: Futura;
    font-size: 14px;
    background-color: whitesmoke;
}

.backgroundModal {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.253);
    z-index: 9999;
}

.boxForModal {
    position: fixed;
    top: 10%;
    left: 20%;
    right: 20%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5%;
}

.saveButton {
    margin: 5%;
    width: 80%;
    background-color: white;
}

.assignedWrapper {
    min-height: 100vh;
    padding: 5%;
}

.assignChoresWrapper {
    display: flex;
    flex-direction: column;
}

.assignChoreButton {
    width: 50%;
    padding: 3% 0 3% 0;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 22px;
    background-color: white;
    border: 3px solid black;
}

/* .completedButton {
    background-image: url(./images/checkbox.png);
    background-size: contain;
    background-position: center;
    background-color: white;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    border: none;
    margin: auto;
} */

.completedButton:focus {
    outline: none;
    background-color: white;
}

/* .fireworks {
    background-image: url(./images/giphy.com:gifs:shia-labeouf-xDpB3lRInUYla.webloc);
    background-size: cover;
    position: absolute;
    align-self: center;
    width: 100%;
    height: 100%;
} */

.nameAndPic {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

.assignedPerson {
    text-align: center;
    font-size: 30px;
    margin-bottom: 4%;
    font-family: Quando;
    font-weight: bold;
}

.assignedPic {
    align-self: center;
    margin-bottom: 3%;
    border: 2px solid black;
}

@media (min-width: 500px) {
    header {
        padding: 5% 3% 5% 3%;
        font-size: 90px;
    }
    .people, .chores, .assign{
        height: 120px;
        width: 120px; 
    }
    .linkWrapper{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .people{
        margin:0%;
    }
    .chores{
        margin:0%;
    }
    .assign{
        margin:0%;
    }
    .inputForm {
        width: 40%
    }
    .onePersonWrapper,
    .oneChoreWrapper {
        width: 70%;
        margin: 3% 15% 3% 15%;
    }
    h2 {
        font-size: 40px;
    }
    .editForm {
        width: 70%;
    }
    .saveButton {
        font-size: 12px;
    }
    .nameAndPic {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        margin: 5% 1% 5% 1%;
    }
    .assignedPerson {
        align-self: center;
    }
}

@media (min-width: 700px) {
    header {
        font-size: 100px;
    }
    .people, .chores, .assign{
        height: 130px;
        width: 130px;
        border: 10px solid 36, 174, 216;  
    }
    .peopleTitle,
    .choreTitle {
        margin: 0 2% 5% 2%;
        font-size: 70px;
    }
    inputForm {
        width: 35%;
    }
    input {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    .submitButton {
        font-size: 20px;
        width: 35%;
        padding: 3% 0 3% 0;
    }
    .deleteButton {
        width: 40px;
        height: 40px;
    }
    .editButton {
        font-size: 20px;
        width: 90px;
        padding: 1%;
    }
    .saveButton {
        font-size: 18px;
        width: 60%;
        margin: auto;
    }
    .finishPeople,
    .finishChores {
        width: 15%;
        font-size: 20px;
    }
}

@media (min-width: 790px) {
    .peopleInputsWrapper,
    .choresInputsWrapper,
    .assignedWrapper {
        padding-top: 8%;
    }
    header {
        font-size: 120px;
        padding: .5% 3% 1% 3%;
    }
    .peopleTitle,
    .choreTitle {
        margin: 0 0 5% 0;
        font-size: 80px;
    }
    input {
        font-size: 30px;
    }
    h2 {
        font-size: 40px;
    }
    .crop {
        width: 150px;
        height: 150px;
    }
    .crop img {
        height: 150px;
    }
    .saveButton {
        font-size: 22px;
    }
}

@media (min-width: 900px) {
    .homeLink {
        padding: 1%;
    }
    .people, .chores, .assign{
        height: 150px;
        width: 150px; 
    }
    .submitButton {
        font-size: 30px;
    }
    .crop {
        width: 200px;
        height: 200px;
    }
    .crop img {
        height: 200px;
    }
    .finishPeople,
    .finishChores {
        font-size: 30px;
    }
    .assignChoreButton {
        width: 35%;
        font-size: 28px;
    }
    .assignedPerson {
        font-size: 40px;
    }
}

@media (min-width: 1200px) {
    header {
        font-size: 140px;
    }
    .people, .chores, .assign{
        height: 175px;
        width: 175px; 
    }
    .peopleTitle,
    .choreTitle {
        margin: 0 1% 5% 1%;
        font-size: 90px;
    }
    input {
        font-size: 40px;
    }
    h2 {
        font-size: 70px;
    }
    p {
        font-size: 40px;
    }
    .editButton {
        font-size: 30px;
    }
    .saveButton {
        font-size: 28px;
    }
    .finishPeople,
    .finishChores {
        font-size: 40px;
    }
    .completedButton {
        width: 100px;
        height: 100px;
    }
    .assignedPerson {
        font-size: 50px;
    }
}